@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-blue: #004AAD;
  --brand-blue-dark: #003d91;
  --brand-blue-deeper: #003380;
  --brand-orange: #0C4AA5;
  --brand-orange-light: #1a5cbf;
}

html,
body {
  height: 100%;
}

.electron-drag {
  -webkit-app-region: drag;
}

.electron-no-drag {
  -webkit-app-region: no-drag;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
